*{
    margin: 0;
    padding: 0;
}
body{
    padding: 20px;
}
.images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* khoang cach giua moi hinh */
    grid-gap: 36px;
    /* grid-template-columns: repeat(auto-fit, value); */
    /* grid-template-columns: repeat(auto-fill, minmax(293px,1fr)); */
}
@media screen and (max-width: 1279px){
    .images{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 1023px){
    .images{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 608px){
    .images{
        /* grid-template-columns: repeat(1, 1fr); */
        grid-template-columns: unset;
        grid-auto-flow: column;
        grid-auto-columns: 80%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
    }
    .image-tem{
        scroll-snap-align: start;
    }
}
.image-tem{
    border-radius: 10px;
    height: 300px;
}
.image-tem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}